body {
	background-image: url("pic/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
}

.top {
	width: 95%;
	margin: 10px auto;
}

.logo {
	width: 70px;
	height: 70px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 5px;
	position: relative;
}

nav a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

nav p:hover {
	color: #000;
}

nav p::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav p:hover::before {
	width: 100%;	
}

.profile {
	display: flex;
  	justify-content: center;
	width: 50px;
  	height: 50px;
  	border-radius: 50%;
	border: none;
}

.dropdown {
	position: relative;
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 150px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
  	color: #000000;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	opacity: 0.7;
}

nav ul li button {
	border: none;
  	border-radius: 50%;
}

.login {
  	float: right;
  	justify-content: center;
  	display: flex;
  	width: 101px;
  	margin-top: 28px;
  	padding-top: 9px;
  	padding-bottom: 9px;
  	border-radius: 2px;
  	background-color: #fff;
  	text-decoration: none;
  	font-family: 'Open Sans', sans-serif;
  	color: #26abf5;
  	font-size: 13px;
  	font-weight: 600;
}